assets/dataset
assets/gt_train
assets/predict
assets/*.h5
assets/test_map
assets/*.tflite

__pycache__
road-test.avi
road-test-2.avi
road-test-3.avi
road-test-4.avi
road-test-5.avi
testing
env
config/*.tflite

semple/semple_video.mp4
semple/semple_zone.txt
*.avi