assets/dataset
assets/gt_train
assets/predict
assets/weight.h5
assets/test_map
assets/model.tflite
assets/litemodel.tflite
assets/model-503.tflite
assets/yolo-car-lite-503.54-60.72.tflite
assets/yolo-v4-car-lite-503.113-115.69.tflite
assets/yolo-v4-car-lite-503.130-125.92.tflite
model_data/mars-small128.pb